/*
Fonts
*/

/* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*
Reset
*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100dvh;
}

input,
button,
select,
textarea {
  font: inherit;
}

p {
  text-wrap: pretty;
}

a {
  all: unset;
  cursor: pointer;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
}

/*
MUI Classes
*/

.MuiPagination-ul {
  justify-content: center;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}